mixin userCard(name, location, avatarUrl, payments, totalCourses, progress, joinDate)
  .border.rounded-xl.shadow-sm.bg-white.p-5.flex.flex-col.gap-4.relative.w-full
    // Header
    .flex.justify-between.items-start
      .flex.items-center.gap-3
        img(src=avatarUrl alt=name class="w-12 h-12 rounded-full object-cover")
        .flex.flex-col
          h4.text-base.font-bold= name
          span.text-sm.text-gray-500.flex.items-center.gap-1
            i(class="fa-solid fa-location-dot text-gray-400")
            | #{location}
      // Dropdown menu button
      button(class="text-gray-400 hover:text-gray-600")
        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="#000" role="img" focusable="false" class="fa-fw"><path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"></path></svg>

    // Body
    .flex.flex-col.gap-3
      .flex.justify-between.items-center
        .flex.items-center.gap-2
          span(class="w-8 h-8 flex items-center justify-center rounded-full bg-green-100 text-green-500 text-sm")
            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" role="img" focusable="false" class="text-[--bs-success-rgb]"><path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"></path></svg>
          span.text-gray-600.text-sm Payments
        span.font-medium.text-sm #{payments}

      .flex.justify-between.items-center
        .flex.items-center.gap-2
          span(class="w-8 h-8 flex items-center justify-center rounded-full bg-purple-100 text-purple-500 text-sm")
            <svg class="svg-inline--fa fa-book fa-fw" width="1em" height="1em" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path class="fill-purple" fill="" d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"></path></svg>
          span.text-gray-600.text-sm Total Course
        span.font-medium.text-sm #{totalCourses}

      // Progress bar
      .w-full
        p.text-xs.font-semibold.mb-1 #{progress}%
        .w-full.bg-gray-200.rounded-full.h-2
          .bg-blue-500.h-2.rounded-full(style=`width: ${progress}%`)

    // Footer
    .flex.justify-between.items-center.pt-3.border-t.text-sm.text-gray-600
      .flex.items-center.gap-2
        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" role="img" focusable="false" class="fa-fw text-orange"><path class="fill-orange" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"></path></svg>
        span
          | Join at: 
          strong= joinDate
      .flex.items-center.gap-3.text-gray-400
        a(href="#", target="_blank")
          <svg width="1em" height="1em" viewBox="0 0 16 16" fill="rgb(116,117,121)" role="img" focusable="false"><path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"></path></svg> 
        a(href="#", target="_blank")
          <svg width="1em" height="1em" class="svg-inline--fa fa-ban" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ban" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path class="" fill="rgb(116,117,121)" d="M367.2 412.5L99.5 144.8C77.1 176.1 64 214.5 64 256c0 106 86 192 192 192c41.5 0 79.9-13.1 111.2-35.5zm45.3-45.3C434.9 335.9 448 297.5 448 256c0-106-86-192-192-192c-41.5 0-79.9 13.1-111.2 35.5L412.5 367.2zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"></path></svg>
